.header-container {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;

  height: 58px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #dedede;
  background-color: white;
}

.left-header {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.left-header img {
  cursor: pointer;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-header {
  display: flex;
  align-items: center;
  flex: 1;

  max-width: 480px;
  margin-left: 60px;
  margin-right: 20px;
}

.middle-header button {
  cursor: pointer;
}

.search-container {
  display: flex;
  flex: 1;
  margin-right: 8px;
}

.search-box {
  flex: 1;
  width: 0;
  font-size: 16px;
  padding-left: 12px;
  box-shadow: inset 0px 1px 2px #eeeeee;

  border: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-box:focus {
  outline: 1px solid #1f5cc6;
  outline-offset: -1px;
}

.search-btn {
  width: 64px;
  height: 40px;
  background-color: #f7f7f7;

  border: 1px solid #cccccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  transition: background-color 0.2ms;
}

.search-btn:hover {
  background-color: #efefef;
}

.voice-search-btn {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 20px;
}

.search-btn,
.voice-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
}

.right-header .tooltip-container {
  cursor: pointer;
}

.tooltip-container img {
  width: 24px;
  height: 24px;
}

.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip {
  position: absolute;
  bottom: -48px;

  background-color: rgba(96, 96, 96, 0.9);
  color: white;
  padding: 8px;
  border-radius: 2px;
  font-size: 12px;
  white-space: nowrap;

  display: none;
  transition: display 0.2ms;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip {
  display: block;
}

.notifications-count {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -3px;
  right: -7px;

  color: white;
  background-color: #cc0000;
  font-size: 10px;
  line-height: 16px;
  padding: 0 5px;
  
  border-radius: 80px;
  border: 2px solid white;
}

.my-channel-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-channel-picture img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}